<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>School Html form</h1>

        <form method="POST">
            {% csrf_token %}

            <label for="sn">School Name</label>
            <input type="text" name="sn" id="sn"><br><br>

            <label for="sl">Location</label>
            <input type="text" name="sl" id="sl"><br><br>

            <label for="sp">Principal</label>
            <input type="text" name="sp" id="sp"><br><br>

            <input type="submit">


        </form>
    </center>
</body>
</html>